<!DOCTYPE html>
<html lang="en">

<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>Imgur Classifier</title>
    <!-- Vue Import-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <script type="module" src="src/vue.js"></script>
</head>

<body class ='card-panel blue-grey darken-3'>
    <div class='container' id="root">
        <div class='row'>
            <div class='col s12'>
                <h1 class='center-align card-panel blue-grey darken-1 blue-text text-darken-1'>Imgur Classifier</h1>
            </div>
        </div>
        <div class='row card-panel  blue-grey darken-2'>
            <div class="col s4 ">
                <h3 class ='blue-text text-darken-2'>Subreddits</h3>
                <div class='row'>
                    <div class="input-field col s6">
                        <input v-model='toAdd' placeholder="Subreddit Name" id="subreddit_add" type="text">
                    </div>
                    <div class='col s6'><input class="btn waves-effect waves-light" type="submit" value="Add"
                            @click=addSubreddit></div>


                </div>

                <!--<input type="text" v-model="toAdd" placeholder="to add" style="display: inline">-->
                <subreddit-template v-for="sub in subreddits" v-bind:name="sub" v-bind:key="sub"></subreddit-template>
                <!--<subreddit-template></subreddit-template>-->
            </div>
            <div class="col s4">
                <h3 class='left-align blue-text text-darken-1'>{{guess}}</h3>
                <div class='col s6'>
                    <div id="console">
                        <img class="responsive-img center-align" id="img" v-bind:src="image" crossorgin="Anonymous" width="500"
                            height="500" />
                    </div>
                </div>
            </div>
            <div class='col s4 '>
                <div class="input-field left">
                    <!--p id="output"></p>-->
                    <div class='row'>
                        <div class='col s6'>
                            <span class='grey-text text-lighten 5'>Select Epoch</span><br>
                            <select class="browser-default" v-model:value='epochSelected'>
                                <option v-for='e in epochLimits' v:bind:value='e' v-text='e'>epochs: {{e}}</option>
                            </select>
                        </div>
                        <div class='col s6'>
                            <span class='grey-text text-lighten 5'>Select Data</span><br>
                            <select class="browser-default" v-model:value="dataSelected">
                                <option v-for='e in dataLimits' v:bind:value='e' v-text='e'></option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                       
                        <div class='col s4'>
                            <button class="btn waves-effect waves-light" type="submit" @click='run'>Train</button>
                        </div>
                        <div class='col s4'>
                            <button class="btn waves-effect waves-light" type="submit"
                                @click='predictImage'>Predict</button>
                        </div>
                        <div class='col s4'>
                                <button class="btn waves-effect waves-light" type="submit" @click="">Predict_img</button>
                            </div>
                    </div>
                    <div class='row'>
                        <div class='col s6'>
                                <div class="progress" v-visible="appState.isLoading">
                            <!--<div class="progress" :style="{'visibility': appState.hiddenVal}">-->
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                        <div class='col s6'>
                            <span>{{appState.loadingMessage}}</span>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col s6'>
                            <p><input @change='onFileChange' id="input" type="file" accept='image/jpeg, image/png'
                                    size="50" maxlength="50" autofocus value="Upload image here" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="mainCanvas" width=128 height=128 style="display:none"></canvas>

    </div>
        <!-- #1 - link to Firebase goes here  -->
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-database.js"></script>
    <script src="src/firebase.js"></script>
    <script type="module" src="src/main.js"></script>
    <!--Tensorflow-->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.0.2/dist/tfjs-vis.umd.min.js"></script>

</body>

</html>